<div>
  <%= form_for gallery, url: {controller: :galleries, action: (params[:id].present? ? :update : :create)} do |f| %>
    <p>
    <%= f.label :title %>
    </br>
    <%= f.text_field :title %>
    </p>

    <% if gallery.persisted? %>
      <p>
      <%= f.label :cover_image %>
      </br>
      <table>
        <% @photos.each do |photo| %>
          <tr>
            <td><%= f.radio_button :cover_photo_id, photo.id %></td>
            <td><%= photo.title %></td>
            <td><%= image_tag photo.image, width: 150, height: 200 %></td>
          </tr>
        <% end %>
      </table>
      </p>
    <% end %>

    <p><%= f.submit %></p>
  <% end %>
</div>
