<h1>Gallery <%= link_to @gallery.title, edit_admin_gallery_path(@gallery) %>'s photos</h1>

<% if flash[:notice] %>
  <h3><font color="red"><%= flash[:notice] %></font></h3>
<% end %>

<h1>Photos</h1>

<div>
  <table>
    <tbody>
      <% @photos.each do |photo| %>
        <tr>
          <td>
            <%= link_to edit_admin_gallery_photo_path(@gallery, photo) do %>
              <%= image_tag photo.image, width: 150, height: 200 %>
            <% end %>
          </td>
          <td>
            <%= link_to edit_admin_gallery_photo_path(@gallery, photo) do %>
              <h3><%= photo.title %></h3>
            <% end %>
          </td>
          <td><%= link_to :edit, edit_admin_gallery_photo_path(@gallery, photo) %></td>
          <td><%= link_to :delete, admin_gallery_photo_path(@gallery, photo), method: :delete, confirm: "Are you sure?" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="apple_pagination">
  <%= will_paginate @photos, previous_label: "<", next_label: ">" %>
</div>
