<ul>
  <li><%= link_to "home", root_path %></li>
  <li><%= link_to "introduction", introduction_path %>
    <ul>
      <li><%= link_to "general", introduction_path %></li>
      <li><%= link_to "rules", rules_path %></li>
    </ul>
  </li>
  <li><%= link_to "news", news_index_path %></li>
  <li><%= link_to "courses", courses_path %></li>
</ul>
