<ul>
  <li><%= link_to "home", admin_root_path %></li>
  <li>introduction
    <ul>
      <li><%= link_to "general", general_admin_introduction_path %></li>
      <li><%= link_to "rules", rules_admin_introduction_path %></li>
    </ul>
  </li>
  <li><%= link_to "news", admin_news_index_path %></li>
  <li><%= link_to "courses", admin_courses_path %></li>
</ul>
