<h1>Latest news</h1>

<table>
  <tbody>
    <% @all_news.each do |news| %>
      <tr>
        <td>
          <%= link_to news_path(news) do %>
            <%= image_tag news.cover_image, width: 200, height: 150 %>
          <% end %>
        </td>
        <td>
          <p><%= link_to news_path(news) do %>
            <h3><%= news.title %></h3>
          <% end %></p>
          <p><%= news.short_description %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
  <%= will_paginate @all_news, previous_label: "<", next_label: ">" %>
</div>
