<h1>Courses</h1>

<table>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td>
          <%= link_to course_path(course) do %>
            <%= image_tag course.cover_image, width: 200, height: 150 %>
          <% end %>
        </td>
        <td>
          <p><%= link_to course_path(course) do %>
            <h3><%= course.title %></h3>
          <% end %></p>
          <p><%= course.short_description %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
  <%= will_paginate @courses, previous_label: "<", next_label: ">" %>
</div>
