<div>
  <h3><%= @trainer.name %></h3>
  position: <%= @trainer.position %>
</div>

<div>
  <%= image_tag @trainer.profile_picture, width: 480, height: 640 %>
</div>

<div>
  <h3>Bio</h3>
  <p><%= @trainer.bio.html_safe %></p>
</div>

<div>
  <h3>Self introduction</h3>
  <p><%= @trainer.self_introduction.html_safe %></p>
</div>

<%= render "form", trainer: @trainer %>
